<!--Product Images -->
<div class="product-images">
  <img id="main-image" [src]="mainImage" alt="Product Image" (click)="mainImgClicked()" />

  <button id="left" class="slider-btn" (click)="showPreviousImg()"> <ion-icon name="chevron-back-outline"></ion-icon>
  </button>
  <button id="right" class="slider-btn" (click)="showNextImg()"> <ion-icon name="chevron-forward-outline"></ion-icon>
  </button>


  <div class="images-row">
    <img [class.active-img]="image === mainImage" *ngFor="let image of images" (click)="thumbnailClicked(image)"
      [src]="image" alt="Product Image" />
  </div>

</div>