
.page-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid hsla(220, 14%, 75%, 0.25);
   padding: 1rem 1.2rem 2rem 1.2rem;
   position: relative;
   max-width: 80%;
   margin: 0 auto;
   font-size: 0.9rem;
   @media (max-width:860px) {
    max-width: 100%;
    margin: 0;
    gap:0;
  }
}


.nav-right-container{
  display:flex;
  align-items: center;
  justify-content: center;
  img{
    cursor: pointer;
  }
}


  .notification-badge {
    position: absolute;
    top: 25px;
    right: 100px;
    background-color:hsl(26, 100%, 55%);
    color: white;
    border-radius: 42%;
    font-size: 9px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    height: 14px;
  }


#avatar{
  width:3rem ;
  margin-left: 2rem;
  cursor: pointer;
  border-radius: 50%;
  &:hover{
    border: 3px solid hsl(25, 100%, 71%);
  }
}

.nav-left-container{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-links{
  display: flex;
  align-items: center;
  justify-content: start;
    a{
      text-decoration: none;
      color: hsl(219, 9%, 45%);
      padding: 0 1rem;
      &:hover{
        box-shadow: 0px 4rem 0 0px hsl(26, 100%, 55%);
      }
    }
    @media (max-width:860px) {
      display: none;
    }
}

.side-menu{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: white;
  box-shadow:  0rem 1rem 2rem rgba(0, 0, 0, 0.15);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
    width: 62%;
    gap: 1rem;
  a{
    text-decoration: none;
    color: hsl(220, 13%, 13%);
    padding: 0 1rem;
    font-weight: 700;
  }
  ion-icon{
    font-size: xx-large;
    color: hsl(219, 9%, 45%);
    cursor: pointer;
    margin-bottom: 1rem;

  }
}

.side-menu-icon{
  display: inline;
  font-size: xx-large;
  color: hsl(219, 9%, 45%);
  cursor: pointer;
  @media (min-width:860px) {
    display: none;
  }
}
