<ion-content>

  <section class="page-content">
    <app-image-slider [images]="product.productImages" (mainImageClicked)="openLightbox()"></app-image-slider>

    <!-- Product Details -->
    <div class="product-details">
      <h3>{{product.manufacturer}}</h3>
      <h1>{{product.productName}}</h1>
      <p> {{product.details}} </p>

      <div class="price-container">
        <div class="price">
          {{product.priceAfterDiscount | currency : 'USD' }}

          <span id="discount"> {{product.discount | percent}}</span>
        </div>
        <del> {{product.originalPrice | currency : 'USD' }}</del>

      </div>

      <!-- Amount and Cart -->
      <div class="amount-cart-container">
        <div class="product-amount">
          <button (click)="decrementAmount()">
            -
          </button>
          <span>{{productAmount}}</span>
          <button (click)="incrementAmount()">
            +
          </button>
        </div>

        <button class="add-to-cart-btn" (click)="addToCart()">
          <ion-icon slot="start" name="cart-outline"></ion-icon>
          Add to Cart
        </button>

      </div>
    </div>
  </section>

</ion-content>
