<ion-content>

  <section class="page-content">
    <!--Product Images -->
    <div class="product-images">
      <img id="main-image" [src]="mainImage" alt="Product Image" (click)="openLightbox()" />

      <button class="slider-btn left" (click)="showPreviousImg()"> <ion-icon name="chevron-back-outline"></ion-icon>
      </button>
      <button class="slider-btn right" (click)="showNextImg()"> <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>


      <div class="images-row">
        <img *ngFor="let image of product.productImages" (click)="thumbnailClicked(image)" [src]="image"
          alt="Product Image" />
      </div>

    </div>

    <!-- Product Details -->
    <div class="product-details">
      <h3>{{product.manufacturer}}</h3>
      <h1>{{product.productName}}</h1>
      <p> {{product.details}} </p>

      <div class="price-container">
        <div class="price">
          {{product.priceAfterDiscount | currency : 'USD' }}

          <span id="discount"> {{product.discount | percent}}</span>
        </div>
        <del> {{product.originalPrice | currency : 'USD' }}</del>

      </div>

      <!-- Amount and Cart -->
      <div class="amount-cart-container">
        <div class="product-amount">
          <button (click)="decrementAmount()">
            -
          </button>
          <span>{{productAmount}}</span>
          <button (click)="incrementAmount()">
            +
          </button>
        </div>

        <button class="add-to-cart-btn">
          <ion-icon slot="start" name="cart-outline"></ion-icon>
          Add to Cart
        </button>

      </div>
    </div>
  </section>

  <!-- PopOver -->
  <ion-popover cssClass="popover-content" trigger="image-click-trigger" size="cover">
    <ng-template>

      <img [src]="product.productImages[0]" alt="Product Image" />
      <div class="images-row">
        <img *ngFor="let image of product.productImages" [src]="image" alt="Product Image" />
      </div>

    </ng-template>
  </ion-popover>

</ion-content>
